<table id="table">
  <tr>
    <th>CLIENTE</th>
    <th>ANNO</th>
    <th>DATA</th>
  </tr>
  {{#stripes rows "even" "odd"}}
    <tr class="{{stripeClass}}">
      <td>{{CLIENTE}}</td>
      <td>{{ANNO}}</td>
      <td>{{DATA}}</td>
    </tr>
    {{/stripes}}
</table>
