<table id="table">
  <tr>
    <th>CLIENTE</th>
    <th>ANNO</th>
    <th>DATA</th>
  </tr>
  {{#each installazioni}}
    <tr>
      <td>{{CLIENTE}}</td>
      <td>{{ANNO}}</td>
      <td>{{DATA}}</td>
    </tr>
    {{/each}}
</table>
